<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <a [routerLink]="['home']"><img src="assets/images/logo.jpg"
                                      alt="floppy hat logo"
                                      style="height: 130px;"></a>
    </div>
    <div class="col-sm-10">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>


            <a class="navbar-brand" [routerLink]="['home']">Tienda de Ropa</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a [routerLink]="['carrito']">Carrito de compras</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Buscar en la tienda">
              </div>
              <button type="submit" class="btn btn-default">Buscar</button>
            </form>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <nav class="navbar navbar-default" style="z-index: 1;">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
              <li><a [routerLink]="['registro']">Registro</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a [routerLink]="['usuario']">Login</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>
