<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <img src="assets/Promociones/banner.jpg" class="img-rounded img-responsive center-block"
           alt="Responsive banner" style="max-width: 100%; height: auto; display: block;">
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-5">

    <div class="row">
      <div class="col-sm-6">
        <div class="thumbnail">
          <img src="assets/Productos/Hombre.jpg" class="img-responsive img-rounded center-block"
               alt="Responsive banner" style="max-width: 100%; height: auto; display: block;">
          <div class="caption">
            <h3>Hombres</h3>
            <p>...</p>
            <p><a [routerLink]="['productos']" class="btn btn-primary" role="button">Visitar</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="thumbnail">
          <img src="assets/Productos/Mujer.jpg" class="img-responsive img-rounded center-block"
               alt="Responsive banner" style="max-width: 100%; height: auto; display: block;">
          <div class="caption">
            <h3>Mujeres</h3>
            <p>...</p>
            <p><a [routerLink]="['productos']" class="btn btn-primary" role="button">Visitar</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="thumbnail">
          <img src="assets/Productos/Niño.jpg" class="img-responsive img-rounded center-block"
               alt="Responsive banner" style="max-width: 100%; height: auto; display: block;">
          <div class="caption">
            <h3>Niños</h3>
            <p>...</p>
            <p><a [routerLink]="['productos']" class="btn btn-primary" role="button">Visitar</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="thumbnail">
          <img src="assets/Productos/Niña.jpg" class="img-responsive img-rounded center-block"
               alt="Responsive banner" style="max-width: 100%; height: auto; display: block;">
          <div class="caption">
            <h3>Niñas</h3>
            <p>...</p>
            <p><a [routerLink]="['productos']" class="btn btn-primary" role="button">Visitar</a></p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-4">
    <img src="assets/Promociones/oferta2.jpg" class="img-responsive center-block"
         alt="Responsive banner" style="max-width: 100%; height: auto; display: block;">
  </div>
  <div class="col-sm-3">
    <img src="assets/Promociones/vertical.jpg" class="img-responsive center-block"
         alt="Responsive banner" style="max-width: 100%; height: auto; display: block;">
  </div>
</div>
