<div class="container">
  <div class="row">
    <!--Datos cliente - Total-->
    <div class="col-sm-2">
      <img src="assets/Promociones/vertical2.jpg" class="img-responsive center-block"
           alt="Responsive banner" style="max-width: 100%; height: auto; display: block;">
    </div>

    <!--Listado de Productos-->
    <div class="col-sm-8">
      <h1>Carrito de Compras</h1>

      <!--Listar Producto-->

      <table class="table table-responsive table-striped center" style="text-align:center;">
        <tr>
          <th><h4><b>Imagen</b></h4></th>
          <th><h4><b>Nombre Producto</b></h4></th>
          <th><h4><b>Precio</b></h4></th>
          <th></th>
        </tr>
        <tr *ngFor="let producto of productos">
          <td><img src="assets/Productos/{{producto.foto}}" style="height: 150px; width: 150px;" alt="Responsive image" class="img-thumbnail"></td>
          <td><h4>{{producto.nombreProducto}}</h4></td>
          <td><h4>{{producto.precio}}</h4></td>
          <td><a class="btn btn-warning" (click)="quitarDelCarrito(producto.id)">Quitar del carrito</a></td>
        </tr>
        <tr>
          <td></td>
          <td><h4><b>TOTAL:</b></h4></td>
          <td><h4>{{total}}</h4></td>
          <td><a class="btn btn-success">Check Out</a></td>
        </tr>
      </table>
    </div>

    <!--Ofertas y publciidad-->
    <div class="col-sm-2">
      <img src="assets/Promociones/vertical.jpg" class="img-responsive center-block"
           alt="Responsive banner" style="max-width: 100%; height: auto; display: block;">
    </div>
  </div>
</div>
