
<div class="container">

  <div class="row">

    <!--Datos cliente - Total-->
    <div class="col-sm-2">
      <img src="assets/Promociones/vertical2.jpg" class="img-responsive center-block"
           alt="Responsive banner" style="max-width: 100%; height: auto; display: block;">
    </div>

    <!--Listado de Productos-->
    <div class="col-sm-8">
      <h1>Productos</h1>

      <!--Crear producto-->
      <form class="animated bounceIn" (ngSubmit)="crearProducto(NuevoProductoForm)" #NuevoProductoForm="ngForm">
        <div class="form-group jumbotron">
          <label>Nombre Producto</label>
          <input type="text" placeholder="Ingrese nombre producto" class="form-control" name="nombreProducto" [(ngModel)]="nuevoProducto.nombreProducto">
          <label> Foto </label>
          <input type="text" placeholder="Ingrese foto" class="form-control" name="foto" [(ngModel)]="nuevoProducto.foto">
          <label> Precio</label>
          <input type="number" step="0.01" placeholder="Ingrese precio" class="form-control" name="precio" [(ngModel)]="nuevoProducto.precio">
          <label>Categoria: </label>

          <select class="form-control" name="idCategoria" [(ngModel)]="nuevoProducto.idCategoria">
            <option *ngFor="let categoria of categorias" value='{{categoria.id}}'>
              {{categoria.nombreCategoria}}
            </option>
          </select>
        </div>
        <button  type="submit" class="btn btn-block btn-success">Crear Producto</button>
        <br>
      </form>

      <!--Listar Producto-->

      <table class="table table-responsive table-striped center" style="text-align:center;">
        <tr>
          <th><h4><b>Imagen</b></h4></th>
          <th><h4><b>Nombre Producto</b></h4></th>
          <th><h4><b>Precio</b></h4></th>
          <th></th>
        </tr>
        <tr *ngFor="let producto of productos">
          <td><img src="assets/Productos/{{producto.foto}}" style="height: 150px; width: 150px;" alt="Responsive image" class="img-thumbnail"></td>
          <td><h4>{{producto.nombreProducto}}</h4></td>
          <td><h4>{{producto.precio}}</h4></td>
          <td><a class="btn btn-warning" (click)="productoAlCarrito(producto)">Añadir al carrito</a>
            <br><p>{{producto.textoAuxiliar}}</p></td>
        </tr>
      </table>
    </div>

    <!--Ofertas y publciidad-->
    <div class="col-sm-2">
      <img src="assets/Promociones/vertical.jpg" class="img-responsive center-block"
           alt="Responsive banner" style="max-width: 100%; height: auto; display: block;">
    </div>

  </div>


</div>
