
<div class="container">

  <div class="row">

    <div class="col-sm-1"></div>
    <!--Listado de Productos-->
    <div class="col-sm-8">
      <h1>Categoria</h1>

      <!--Crear producto-->
      <form class="animated bounceIn" (ngSubmit)="crearProducto(NuevoProductoForm)" #NuevoProductoForm="ngForm">
        <div class="form-group jumbotron">
          <label>Nombre Categoria</label>
          <select class="form-control" name="nombre" >
            <option value='Hombre'>Hombre</option>
            <option value='Mujer'>Mujer</option>
            <option value='Niño'>Niño</option>
            <option value='Niña'>Niña</option>
          </select>
        </div>
        <button  type="submit" class="btn btn-block btn-success">Crear Categoria</button>
      </form>


    </div>

    <div class="col-sm-3"></div>


  </div>


</div>
